body#homePage {
  background: url('/assets/images/javier-allegue-barros-Kr3Ls8Tw8h4-unsplash.jpg') no-repeat fixed;
  background-size: cover;
}

img {
  max-height: 400px;
  max-width: 400px;
}

button.customBtn, button.customBtn:hover {
  background-color: #1a1818;
  color: white;
  opacity: .8;
}

h1#homePageHeader {
  font-family: 'Frank Ruhl Libre', serif;
  margin-top: 200px;
}

p#homePageP {
  font-family: 'Nanum Myeongjo', serif;
  margin-bottom: 40px;
}

h2, h5, button, label.inputLabel, .modal {
  font-family: 'Frank Ruhl Libre', serif;
}

span {
  font-family: 'Nanum Myeongjo', serif;
  margin: 20px;
}